.Layout-login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/back-ground-image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  .login-page {
    // margin: 6.96rem 0;
    background-color: white;
    width: fit-content;
    border-radius: 1rem;
    box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    .image-login {
      display: flex;
      text-align: center;
      align-items: center;

      .Create-account-name {
        &:hover {
          color: '#543310';
        }
      }

      img {
        height: 90vh;
      }
    }

    .title-login {
      text-align: center;
      line-height: 1.6;
      font-size: 40px;
      font-weight: 750;
      margin-bottom: 3rem;
    }
  }
}

.form-container {
  min-width: 400px;
  .form-input {
    margin-bottom: 0.3rem;

    input {
      padding: 5px 4px;
    }
  }

  input {
    padding: 10px 4px;
  }

  .submit-btn {
    width: 100%;
    font-size: 17px;
    margin-top: 2rem;
    background-color: #669ed3;
    border: none;
    padding: 1rem 2rem;
    border-radius: 6px;
    color: white;
    box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    &:hover {
      background-color: #348bdb;
      box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    }
  }
  .register-btn {
    margin-top: 2rem;
    background-color: #45cf29;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 6px;
    color: white;
    box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    cursor: pointer;

    &:hover {
      background-color: #348bdb;
      box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
    }
  }
}
